body{
    margin: 0;
    padding: 0;
}

.container-pen{
    background-color: red;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1100px;
    height: 300px;
    margin-top: 20px;
}

.pentagon{
    position: relative;
    width: 100px;
    height: 0;
    border-top: 100px solid rgb(234, 118, 118);
    border-left:50px solid transparent;
    border-right: 50px solid transparent;
}

.pentagon:before{
    content: "";
    position: absolute;
    height: 0;
    width: 0;
    border-bottom: 100px solid rgb(234, 118, 118);
    border-left: 100px solid transparent;
    border-right: 100px solid transparent ;
    bottom: 100px;
    left:-50px ;
}